*,*::after,*::before{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
#form{
    width: 35rem;
    height: 15rem;
    background-color: #87CEEB;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    align-items: center;
    justify-content: center;
    box-shadow: 15px 15px 0px 0px rgba(0,0,0,0.2);
}
#form h3{
    font-size: 2rem;
}
#form #input{
    width: 25rem;
    height: 3rem;
    border: none;
    padding: 0 0.5rem;
    font-size: 1.1rem;
    text-align: center;
}