*,
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: customFont1;
    src: url(../Inter-VariableFont_slnt\,wght.ttf);
}
@font-face {
    font-family: InterBold;
    src: url(../Inter-Bold.ttf);
}
@font-face {
    font-family: InterExtraBold;
    src: url(../Inter-ExtraBold.ttf);
}
@font-face {
    font-family: InterRegular;
    src: url(../Inter-Regular.ttf);
}
:root {
    --Soft-orange: hsl(35, 77%, 62%);
    --Soft-red: hsl(5, 85%, 63%);
    --Off-white: hsl(36, 100%, 99%);
    --Grayish-blue: hsl(233, 8%, 79%);
    --Dark-grayish-blue: hsl(236, 13%, 42%);
    --Very-dark-blue: hsl(240, 100%, 5%);
}

html {
    background-color: var(--Off-white);
    font-family: InterRegular;
    font-size: 15px;
}
li{
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--Very-dark-blue);
}
body{
    width: 100%;
    min-height: 100vh;
    padding: 0 5%;
}
#header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}
#navbar{
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 3;
    width: 70%;
    background-color: var(--Off-white);
    height: 100%;
    padding: 8rem 0;
    transition: 0.5s ease-in-out;
}
#navbar ul{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
#navbar ul li{
    color: var(--Dark-grayish-blue);
    font-size: 1.25rem;
}
#navbar ul li a:hover{
    color: var(--Soft-red);
}
#menu{
    cursor: pointer;
}
#layover{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0,0,0,0.2);
    visibility: hidden;
    transition-delay: 0.25s;
}
.show #layover{
    visibility: visible;
}
#close{
    position: absolute;
    top: 2rem;
    right: 1rem;
}
.show #navbar{
    right: 0;
}
#main{
    display: flex;
    flex-direction: column;
}
#hero{
    width: 100%;
    height: 20rem;
    background-image: url(../images/image-web-3-mobile.jpg);
    background-position: center;
    background-size: cover;
    margin-bottom: 1.5rem;
}
#cards{
    background-color: var(--Very-dark-blue);
        color:var(--Off-white);
        display: flex;
        flex-direction: column;
        padding: 2rem 2rem;
        margin-bottom: 3rem;
}
#cards h3{
    font-size: 2.25rem;
    color: var(--Soft-orange);
    font-family: InterBold;
}
.card{
    padding: 2rem 0;

}
.card-title{
    font-family: InterBold;
    font-size: 1.1rem;
    margin-bottom: 1rem;
    cursor: pointer;
}
.card-title:hover{
    color: var(--Soft-orange)
}
.card-para{
    font-size: 1rem;
    color: var(--Grayish-blue);
    line-height: 1.5rem;
}
#hero-title{
    font-family: InterExtraBold;
    font-size: 3rem;
    line-height: 3rem;
    margin-bottom: 1.5rem;
}
#hero-content{
    display: flex;
    flex-direction: column;
    gap:2rem;
}
#hero-para{
    font-family: InterRegular;
    color: var(--Dark-grayish-blue);
    line-height: 2rem;
    font-size: 1.1rem;
}
#read-more{
    width: fit-content;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    padding: 1.25rem 2.5rem;
    color: var(--Off-white);
    background-color: var(--Soft-red);
    font-size: 0.9rem;
    margin-bottom: 3rem;
}
#read-more:hover{
    background-color: var(--Very-dark-blue);
}
#tiles{
    display: flex;
    padding: 4rem 0;
    flex-direction: column;
    gap: 2rem
}

.tile{
    height: 10rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 1.5rem;
}
.tile-hero{
    grid-row: 1/4;
}
.tile-hero img{
    width: 8rem;
}
.tile-no{
    font-size: 2rem;
    font-family: InterExtraBold;
    color: var(--Grayish-blue);

}
.tile-title{
    font-family: InterExtraBold;
    font-size: 1.1rem;
    cursor: pointer;
}
.tile-title:hover{
    color: var(--Soft-red);
}
.tile-para{
    line-height: 1.5rem;
    font-size: 0.9rem;
    color: var(--Dark-grayish-blue);
}
@media screen and (min-width:1440px) {
    *{
        margin: 0;
    }
    body {
        padding: 5rem 11%;
    }
    #navbar{
        position: relative;
        top: 0;
        right: 0;
        padding: 0;
        width: fit-content;
    }
    #navbar ul{
        flex-direction: row;
        align-items: center;
        gap: 3.5rem;
        font-size: 1.1rem;
        color: var(--Dark-grayish-blue);
    }
    #header{
        margin-bottom: 4rem;
        padding: 0;
    }
    #menu{
        display: none;
    }
    #close{
        display: none;
    }
    #main{
        display: grid;
        grid-template-rows: 24rem 15rem;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 2rem;
        column-gap: 2rem;
        margin-bottom: 3rem;
    }
    #hero{
        width: 100%;
        height: 100%;
        background-image: url(../images/image-web-3-desktop.jpg);
        grid-column: 1/3;
        background-position: center;
        background-size: cover;
    }
    #hero img{
        width: 100%;
        height: 100%;
    }
    #cards{
        grid-column: 3/4;
        grid-row: 1/3;
        margin: 0;
    }
    #cards h3{
        font-size: 3.25rem;
        color: var(--Soft-orange);
        font-family: InterBold;
    }
    .card{
        padding: 2.5rem 0;
    }
    .card-title{
        font-family: InterBold;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    .card-para{
        font-size: 1.1rem;
        color: var(--Grayish-blue);
        line-height: 2rem;
    }
    #hero-title{
        font-family: InterExtraBold;
        font-size: 4.5rem;
        line-height: 4.5rem;
    }
    #hero-content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #hero-para{
        font-family: InterRegular;
        color: var(--Dark-grayish-blue);
        line-height: 1.5rem;
        font-size: 1.1rem;
    }
    #read-more{
        width: fit-content;
        text-transform: uppercase;
        letter-spacing: 0.4rem;
        padding: 1.25rem 2.5rem;
        color: var(--Off-white);
        background-color: var(--Soft-red);
        font-size: 0.9rem;
    }
    #tiles{
        flex-direction: row;
        gap: 2rem;
    }
    .tile{
        height: 10rem;
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr 1fr 1fr;
        column-gap: 1rem;
    }
    .tile-hero{
        grid-row: 1/4;
    }
    .tile-hero img{
        width: 8rem;
    }
    .tile-no{
        font-size: 2.5rem;
        font-family: InterExtraBold;
        color: var(--Grayish-blue);
    
    }
    .tile-title{
        font-family: InterExtraBold;
        font-size: 1.25rem;
    }
    .tile-para{
        line-height: 2rem;
        font-size: 1.1rem;
        color: var(--Dark-grayish-blue);
    }
    
}