*,*::after, *::before{
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Roboto Mono', monospace;
}
body{
    width: 100%;
    min-height: 100vh;
   display: flex;
   padding-top: 10vh;
   flex-direction: column;
   align-items: center;
   background-color: #301934;
   color:white;
}
h1{
   font-size: 4rem;
   margin-bottom: 10vh;
}
#result{
    width: 50vw;
    height: 35vh;
    border: 1px solid black;
    border-radius: 1rem;
    text-align: center;
   background-color: #343434;
    padding: 1rem 2.5rem;
}
.alert{
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 1rem;
    background-color: aqua;
    text-align: center;
    color: #000;
    transition: 0.5s ease-in-out;
}
.show__alert{
    top: 0;
}
button{
    border: none;
    border: 1px solid aqua;
    border-radius: 0.5rem;
    padding: 0.80rem 3rem;
    background-color: transparent;
    color: aqua;
    position: relative;
    overflow: hidden;
    z-index: 4;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 600;
    margin: 2rem 0;
}
button::before{
    position: absolute;
    top: 0;
    left: -100%;
    content: '';
    background-color: aqua;
    height: 100%;
    width: 100%;
    z-index: -1;
    transition: 0.5s ease-in-out;
    border-radius: 0.5rem;
    
}
button:hover::before{
    left: 0;
}
button:hover{
    color: #301934;
}
