*, *::after, *::before{
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
    background-image: url(../public/bg-template.jpg);
    background-position: center;
    background-size: cover;
}
#game-title{
    color: white;
    font-style: italic;
    text-align: center;
    font-size: 3.5rem;
    padding: 1rem 0;
}
#game-title:hover{
    background-color: rgba(0,0,0,0.1);
    cursor: default;
}
#layover{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0,0,0,0.3);
    visibility: hidden;
}
.show #layover{
    visibility: visible;
}
#rules{
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border: 3px solid black;
    border-radius: 2rem;
    width: 70%;
    height: 35rem;
    overflow: hidden;
    z-index: 3;
    transition: 0.5s ease-in-out;
}
#rules-title{
    text-align: center;
    padding: 0.5rem 0;
    font-family: 'Courier New', Courier, monospace;
    /* background-color: rgb(250, 94, 94); */
    border-bottom: 3px solid brown;
    margin: 0 3rem;
}
#rules-list{
    margin: 0 2rem;
    padding-top: 2rem;
}
#rules-list li{
    list-style: square;
    font-size: 1.2rem;
    padding: 1rem 0;
}
#play{
    text-align: center;
    padding-top: 1rem;
}
#play button{
    border: none;
    background-color: brown;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    width: 90%;
    height: 3rem;
}
#play button:hover{
    background-color: rgb(198, 54, 54);
}
.show #rules{
    top: 8rem;
}
#games-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 3rem 0;
}
#sudoku{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(9, 5rem);
    grid-template-rows: repeat(9, 4rem);
    box-shadow: 8px 8px 16px 0 rgba(0,0,0,0.2);
    border: 4px solid black;
}
#sudoku input{
    text-align: center;
    font-size: 1.25rem;
    border: 1px solid black;
}
#sudoku input:focus{
    outline: none;
}
.filled{
    background-color: brown;
    color: white;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.btn{
    border:none;
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    width: 10rem;
    height: 3rem;
    cursor: pointer;
}
#verify{
    margin-right: 4rem;
}
#result-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 3rem 0;
}
#boards{
    display: flex;
    gap: 4rem;
}
#user{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(9, 4rem);
    grid-template-rows: repeat(9, 3rem);
    box-shadow: 8px 8px 16px 0 rgba(0,0,0,0.2);
    border: 4px solid black;
}
#solution{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(9, 4rem);
    grid-template-rows: repeat(9, 3rem);
    box-shadow: 8px 8px 16px 0 rgba(0,0,0,0.2);
    border: 4px solid black;
}
#boards input{
    text-align: center;
    font-size: 0.8rem;
    border: 1px solid black;
}
.result-title{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    
}
.correct{
    background-color: lightgreen;
}
.incorrect{
    background-color: lightcoral;
}