*{
    box-sizing: border-box;
    margin: 0;
}
#games-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 3rem 0;
}
#sudoku{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(9, 5rem);
    grid-template-rows: repeat(9, 4rem);
    box-shadow: 8px 8px 16px 0 rgba(0,0,0,0.2);
    border: 4px solid black;
}
#sudoku input{
    text-align: center;
    font-size: 1.25rem;
    border: 1px solid black;
}
#sudoku input:focus{
    outline: none;
}
.filled{
    background-color: brown;
    color: white;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.btn{
    border:none;
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    width: 10rem;
    height: 3rem;
    cursor: pointer;
}
#verify{
    margin-right: 4rem;
}